In [1]:
import pandas as pd

# convert a list to a pandas series

In [2]:
li = [2,4,6,8]

In [3]:
pd.Series(li)

0    2
1    4
2    6
3    8
dtype: int64

# pandas Series with the index

In [65]:
li = [1,2,3,4,5,6,7,5]
ind = ['a','b','k','d','e','r','r','b']
pd.Series(li,index=ind)

a    1
b    2
k    3
d    4
e    5
r    6
r    7
b    5
dtype: int64

# the first element is values and index will be the list.

In [66]:
s = pd.Series(ind, index=li)

In [67]:
s

1    a
2    b
3    k
4    d
5    e
6    r
7    r
5    b
dtype: object

# slicing the pandas series

In [21]:
s[1:]

2    b
3    c
4    d
5    e
6    r
7    r
dtype: object

In [22]:
s

1    a
2    b
3    c
4    d
5    e
6    r
7    r
dtype: object

In [59]:
ser = pd.Series(li,index=ind)
ser

a    1
b    2
k    3
d    4
e    5
r    6
r    7
b    5
dtype: int64

# indexing through the key value

In [28]:
ser['a']

1

# indexing through a number

In [31]:
ser[0]

1

In [32]:
ser['b']

2

# getting the head of the series

In [8]:
ser = pd.Series([1,2,3,4,5,4,6,7,8,9,0])

In [14]:
ser.head() # returns the first 5 elements

0    1
1    2
2    3
3    4
4    5
dtype: int64

# creating the series using the numpy arrays

In [69]:
import numpy as np 
arr = np.arange(0,12,1)
ser = pd.Series(arr)
ser.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [70]:
ser.tail()

7      7
8      8
9      9
10    10
11    11
dtype: int32

In [71]:
ser.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [72]:
ser.tail(3)

9      9
10    10
11    11
dtype: int32

# location in series

In [73]:
ser.loc[3]

3

# integer location in series

In [74]:
ser.iloc[3]

3

In [75]:
ser.loc[3:7]

3    3
4    4
5    5
6    6
7    7
dtype: int32

# type of the series

In [76]:
type(ser)

pandas.core.series.Series

# fequency in a series

In [83]:
ser4 = pd.Series(['India','US','India','China','India'])
ser4

0    India
1       US
2    India
3    China
4    India
dtype: object

In [82]:
ser4.value_counts()

India    3
China    1
US       1
dtype: int64

# finding the unique values in the series

In [84]:
ser4.unique()

array(['India', 'US', 'China'], dtype=object)