In [1]:
import pandas as pd

# convert a list to a pandas series

In [2]:
li = [2,4,6,8]

In [3]:
pd.Series(li)

0    2
1    4
2    6
3    8
dtype: int64

# pandas Series with the index

In [65]:
li = [1,2,3,4,5,6,7,5]
ind = ['a','b','k','d','e','r','r','b']
pd.Series(li,index=ind)

a    1
b    2
k    3
d    4
e    5
r    6
r    7
b    5
dtype: int64

# the first element is values and index will be the list.

In [66]:
s = pd.Series(ind, index=li)

In [67]:
s

1    a
2    b
3    k
4    d
5    e
6    r
7    r
5    b
dtype: object

# slicing the pandas series

In [21]:
s[1:]

2    b
3    c
4    d
5    e
6    r
7    r
dtype: object

In [22]:
s

1    a
2    b
3    c
4    d
5    e
6    r
7    r
dtype: object

In [59]:
ser = pd.Series(li,index=ind)
ser

a    1
b    2
k    3
d    4
e    5
r    6
r    7
b    5
dtype: int64

# indexing through the key value

In [28]:
ser['a']

1

# indexing through a number

In [31]:
ser[0]

1

In [32]:
ser['b']

2

# getting the head of the series

In [8]:
ser = pd.Series([1,2,3,4,5,4,6,7,8,9,0])

In [14]:
ser.head() # returns the first 5 elements

0    1
1    2
2    3
3    4
4    5
dtype: int64

# creating the series using the numpy arrays

In [69]:
import numpy as np 
arr = np.arange(0,12,1)
ser = pd.Series(arr)
ser.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [70]:
ser.tail()

7      7
8      8
9      9
10    10
11    11
dtype: int32

In [71]:
ser.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [72]:
ser.tail(3)

9      9
10    10
11    11
dtype: int32

# location in series

In [73]:
ser.loc[3]

3

# integer location in series

In [74]:
ser.iloc[3]

3

In [75]:
ser.loc[3:7]

3    3
4    4
5    5
6    6
7    7
dtype: int32

# type of the series

In [76]:
type(ser)

pandas.core.series.Series

# fequency in a series

In [83]:
ser4 = pd.Series(['India','US','India','China','India'])
ser4

0    India
1       US
2    India
3    China
4    India
dtype: object

In [82]:
ser4.value_counts()

India    3
China    1
US       1
dtype: int64

# finding the unique values in the series

In [84]:
ser4.unique()

array(['India', 'US', 'China'], dtype=object)

# finding number of unique elements in the series

In [87]:
ser4.nunique() # there are three unique numbers present in the series

3

# max and min in series

In [93]:
ser4.min()

'China'

In [94]:
ser4.max()

'US'

# index of max or min in the series

In [101]:
ser

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
dtype: int32

In [99]:
ser.idxmax() # index for the minimum value

11

In [102]:
ser.idxmin() # index for the maximum value

0

# argmax and arg min are not allowed for object data type

In [106]:
ser4.argmax()

TypeError: reduction operation 'argmax' not allowed for this dtype

In [107]:
ser4.argmin()

TypeError: reduction operation 'argmin' not allowed for this dtype

In [108]:
ser = pd.Series(np.arange(0,4),index=['a','b','c','d'])

In [111]:
ser['c']

2

In [112]:
ser.loc['c']

2

In [114]:
# iloc only works on the integer index

In [113]:
ser.iloc['c']

TypeError: Cannot index by location index with a non-integer key

# convert the elements of the series to a list

In [115]:
ser4.tolist()

['India', 'US', 'India', 'China', 'India']

# dictonary to pandas series

In [123]:
data = {'A1':'India','A2':'China','A3':'US','A4':'Chile'}

In [125]:
pd.DataFrame(data.items())

    0      1
0  A1  India
1  A2  China
2  A3     US
3  A4  Chile

# numpy arrays to dataframe

In [136]:
df = pd.DataFrame(np.arange(0,50,3)) # numpy array to a dataframe

In [135]:
type(df)

pandas.core.frame.DataFrame

# converting from a list to a dataframe

In [153]:
df1 = pd.DataFrame(['India','US','India','China','India'])

In [154]:
df1

       0
0  India
1     US
2  India
3  China
4  India

In [155]:
df1['new'] = np.arange(0,5)

In [158]:
df1[['new1','new2']] = 12,12

# reading dataframe in jupyter notebook

In [159]:
df = pd.read_csv(r'dm.csv')

In [161]:
type(df)

pandas.core.frame.DataFrame

In [162]:
df.head()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent,Cust_Id
0,Old,Female,Own,Single,Far,47500,0,High,6,755,247
1,Middle,Male,Rent,Single,Close,63600,0,High,6,1318,127
2,Young,Female,Rent,Single,Close,13500,0,Low,18,296,479
3,Middle,Male,Own,Married,Close,85600,1,High,18,2436,475
4,Middle,Female,Own,Single,Close,68400,0,High,12,1304,151

In [163]:
df.tail()

,Age,Gender,OwnHome,Married,Location,Salary,Children,History,Catalogs,AmountSpent,Cust_Id
995,Young,Female,Rent,Single,Close,19400,1,NaN,18,384,190
996,Middle,Male,Rent,Single,Far,40500,1,NaN,18,1073,510
997,Old,Male,Own,Single,Close,44800,0,Medium,24,1417,725
998,Middle,Male,Own,Married,Close,79000,2,Medium,18,671,1034
999,Young,Male,Rent,Married,Close,53600,1,Medium,24,973,1203

# getting the columns of the dataframe

In [164]:
df.columns

Index(['Age', 'Gender', 'OwnHome', 'Married', 'Location', 'Salary', 'Children',
       'History', 'Catalogs', 'AmountSpent', 'Cust_Id'],
      dtype='object')

In [165]:
df.index

RangeIndex(start=0, stop=1000, step=1)